<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainiaoshixi.dao.EducationMapper">
    <resultMap id="BaseResultMap" type="com.cainiaoshixi.entity.Education">
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="degree" jdbcType="VARCHAR" property="degree"/>
        <result column="school_begin_date" jdbcType="DATE" property="schoolBeginDate"/>
        <result column="school_end_date" jdbcType="DATE" property="schoolEndDate"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    </resultMap>
    <insert id="insert" parameterType="com.cainiaoshixi.entity.Education">
    insert into education (school, major, degree,
      school_begin_date, school_end_date, user_id
      )
    values (#{school,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, 
      #{schoolBeginDate,jdbcType=DATE}, #{schoolEndDate,jdbcType=DATE}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.cainiaoshixi.entity.Education">
        insert into education
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="school != null">
                school,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="degree != null">
                degree,
            </if>
            <if test="schoolBeginDate != null">
                school_begin_date,
            </if>
            <if test="schoolEndDate != null">
                school_end_date,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="major != null">
                #{major,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                #{degree,jdbcType=VARCHAR},
            </if>
            <if test="schoolBeginDate != null">
                #{schoolBeginDate,jdbcType=DATE},
            </if>
            <if test="schoolEndDate != null">
                #{schoolEndDate,jdbcType=DATE},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getEducationListByUserId" parameterType="java.lang.String" resultType="com.cainiaoshixi.entity.Education">
        select school, major, degree, school_begin_date, school_end_date, user_id
        from education
        where user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <select id="getEducationListByEduId" resultType="com.cainiaoshixi.entity.Education">
        SELECT id,school,major,admission_time,graduation_time,user_id
        FROM cn_education
        WHERE
        user_id= #{userId，jdbcType=INT}
        <if test="eduId!= null" >
            and id = #{eduId,jdbcType=INT}
        </if>
        and
    </select>
    <insert id="addEducation"  parameterType="com.cainiaoshixi.entity.Education">
        INSERT INTO cn_education( school, major, degree, admission_time, graduation_time, user_id)
        VALUES (#{school,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR},
        #{schoolBeginDate,jdbcType=DATE}, #{schoolEndDate,jdbcType=DATE}, #{userId,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateEducation" parameterType="com.cainiaoshixi.entity.Education">
        update cn_education
        <set>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="major != null">
                major = #{major,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                degree = #{degree,jdbcType=VARCHAR},
            </if>
            <if test="schoolBeginDate != null">
                schoolBeginDate = #{schoolBeginDate,jdbcType=DATE},
            </if>
            <if test="schoolEndDate != null">
                schoolEndDate = #{schoolEndDate,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteEducation" parameterType="java.lang.Integer">
        DELETE FROM cn_education
        WHERE id=#{eduId,jdbcType=INTEGER}
    </delete>
</mapper>