<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainiaoshixi.dao.FileMapper">
  <resultMap id="BaseResultMap" type="com.cainiaoshixi.entity.File">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="mime" jdbcType="VARCHAR" property="mime" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="uploader_id" jdbcType="INTEGER" property="uploaderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cn_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cainiaoshixi.entity.File">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cn_file (name, path, format, 
      mime, size, md5, type, 
      uploader_id, create_time, update_time
      )
    values (#{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, 
      #{mime,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{md5,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{uploaderId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cainiaoshixi.entity.File">
    update cn_file
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      format = #{format,jdbcType=VARCHAR},
      mime = #{mime,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      md5 = #{md5,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      uploader_id = #{uploaderId,jdbcType=INTEGER},
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, path, format, mime, size, md5, type, uploader_id, create_time, update_time
    from cn_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, path, format, mime, size, md5, type, uploader_id, create_time, update_time
    from cn_file
  </select>
  <select id="selectByMd5" resultType="java.lang.Integer">
      select id from cn_file
      where md5 = #{md5} and uploader_id = #{uploaderId}
      limit 1
  </select>

    <select id="selectByUploaderId" resultType="com.cainiaoshixi.entity.File">
        select id, name, md5, path, mime from cn_file
        where type = #{type} and uploader_id = #{uploaderId}
        limit 1
    </select>
</mapper>