<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainiaoshixi.dao.JobMapper">
  <resultMap id="BaseResultMap" type="com.cainiaoshixi.entity.Job">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="company" jdbcType="VARCHAR" property="company" />
      <result column="company_id" jdbcType="INTEGER" property="companyId" />
      <result column="department" jdbcType="VARCHAR" property="department" />
      <result column="type" jdbcType="TINYINT" property="type" />
      <result column="province" jdbcType="VARCHAR" property="province" />
      <result column="city" jdbcType="VARCHAR" property="city" />
      <result column="district" jdbcType="VARCHAR" property="district" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="industry" jdbcType="INTEGER" property="industry" />
      <result column="function" jdbcType="INTEGER" property="function" />
      <result column="is_remote" jdbcType="TINYINT" property="isRemote" />
      <result column="description" jdbcType="VARCHAR" property="description" />
      <result column="requirement" jdbcType="VARCHAR" property="requirement" />
      <result column="salary" jdbcType="VARCHAR" property="salary" />
      <result column="welfare" jdbcType="VARCHAR" property="welfare" />
      <result column="duty_per_week" jdbcType="SMALLINT" property="dutyPerWeek" />
      <result column="duration" jdbcType="INTEGER" property="duration" />
      <result column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="receive_method" jdbcType="SMALLINT" property="receiveMethod" />
      <result column="receive_email" jdbcType="VARCHAR" property="receiveEmail" />
      <result column="degree" jdbcType="TINYINT" property="degree" />
      <result column="vertify_result" jdbcType="TINYINT" property="vertifyResult" />
      <result column="status" jdbcType="TINYINT" property="status" />
      <result column="is_full_job" jdbcType="TINYINT" property="isFullJob" />
      <result column="read_count" jdbcType="INTEGER" property="readCount" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithLogo" type="com.cainiaoshixi.entity.JobWithLogo">
        <result column="logo" jdbcType="VARCHAR" property="logo" />
    </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cn_job
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.cainiaoshixi.entity.Job">
    update cn_job
    set name = #{name,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      department = #{department,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=INTEGER},
      function = #{function,jdbcType=INTEGER},
      is_remote = #{isRemote,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      requirement = #{requirement,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      welfare = #{welfare,jdbcType=VARCHAR},
      duty_per_week = #{dutyPerWeek,jdbcType=SMALLINT},
      duration = #{duration,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      receive_method = #{receiveMethod,jdbcType=SMALLINT},
      receive_email = #{receiveEmail,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=TINYINT},
      vertify_result = #{vertifyResult,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      is_full_job = #{isFullJob,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithLogo">
      select job.id, job.name, job.company, job.company_id, job.department, job.type, job.province, job.city, job.district,job.address,
      job.industry, job.function, job.is_remote, job.description, job.requirement, job.salary, job.welfare,job.duty_per_week,
      job.duration, job.user_id, job.receive_method, job.receive_email, job.degree,job.vertify_result,job.status,job.is_full_job,
      job.read_count, job.create_time,  job.update_time, company.logo
      from cn_job as job LEFT JOIN cn_company as company ON job.company_id = company.id
      where job.id = #{id,jdbcType=INTEGER}
    </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, company, company_id, department, type, province, city, district, 
    address, industry, function, is_remote, description, requirement, salary, welfare, 
    duty_per_week, duration, user_id, receive_method, receive_email, degree, vertify_result,
    status, is_full_job, create_time, update_time
    from cn_job
  </select>

  <select id="getJobListByVo" parameterType="com.cainiaoshixi.vo.JobQueryVo" resultMap="ResultMapWithLogo">
    select job.id, job.name, job.company, job.company_id, job.department, job.type, job.province, job.city, job.district,job.address,
    job.industry, job.function, job.is_remote, job.description, job.requirement, job.salary, job.welfare,job.duty_per_week,
    job.duration, job.user_id, job.receive_method, job.receive_email, job.degree,job.vertify_result,job.status,job.is_full_job,
    job.create_time,  job.update_time, company.logo
    from cn_job as job LEFT JOIN cn_company as company ON job.company_id = company.id
    <where>
        <if test="name!=null and name!=''">
            and job.name LIKE "%"#{name, jdbcType=VARCHAR}"%"
        </if>
        <if test="type!=null and type!='所有'">
            and job.type = #{type, jdbcType=VARCHAR}
        </if>
        <if test="degree!=null">
            and job.degree = #{degree, jdbcType=TINYINT}
        </if>
        <if test="vertifyResult!=null">
            and job.vertify_result = #{vertifyResult, jdbcType=TINYINT}
        </if>
        <if test="status!=null">
            and job.status = #{status, jdbcType=TINYINT}
        </if>
        <if test="isFullJob!=null">
            and job.is_full_job = #{isFullJob, jdbcType=TINYINT}
        </if>
        <if test="searchValue!=null">
            and job.name like concat(concat("%",#{searchValue}),"%") or job.company like concat(concat("%",#{searchValue}),"%") or job.department like concat(concat("%",#{searchValue}),"%")
        </if>
    </where>
    order by job.create_time desc
    limit #{iDisplayStart,jdbcType=INTEGER},#{iDisplayLength,jdbcType=INTEGER}
</select>

  <select id="getJobListByUserId" parameterType="com.cainiaoshixi.vo.JobQueryVo" resultMap="ResultMapWithLogo">
    select job.id, job.name, job.company, job.company_id, job.department, job.type, job.province, job.city, job.district,job.address,
    job.industry, job.function, job.is_remote, job.description, job.requirement, job.salary, job.welfare,job.duty_per_week,
    job.duration, job.user_id, job.receive_method, job.receive_email, job.degree,job.vertify_result,job.status,job.is_full_job,
    job.create_time, job.update_time, company.logo
    from cn_job as job LEFT JOIN cn_company as company ON job.company_id = company.id
    <where>
      <if test="userId!=null">
          and job.user_id = #{userId, jdbcType=INTEGER}
      </if>
      <if test="name!=null and name!=''">
          and job.name LIKE "%"#{name, jdbcType=VARCHAR}"%"
      </if>
      <if test="type!=null and type!='所有'">
          and job.type = #{type, jdbcType=VARCHAR}
      </if>
      <if test="degree!=null">
          and job.degree = #{degree, jdbcType=TINYINT}
      </if>
      <if test="vertifyResult!=null">
          and job.vertify_result = #{vertifyResult, jdbcType=TINYINT}
      </if>
      <if test="status!=null">
          and job.status = #{status, jdbcType=TINYINT}
      </if>
      <if test="isFullJob!=null">
          and job.is_full_job = #{isFullJob, jdbcType=TINYINT}
      </if>
      <if test="searchValue!=null">
          and job.name like concat(concat("%",#{searchValue}),"%") or job.company like concat(concat("%",#{searchValue}),"%") or job.department like concat(concat("%",#{searchValue}),"%")
      </if>
    </where>
    order by job.create_time desc
  </select>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.cainiaoshixi.entity.Job">
    insert into cn_job
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="company != null">
            company,
        </if>
        <if test="companyId != null">
            company_id,
        </if>
        <if test="department != null">
            department,
        </if>
        <if test="type != null">
            type,
        </if>
        <if test="province != null">
            province,
        </if>
        <if test="city != null">
            city,
        </if>
        <if test="district != null">
            district,
        </if>
        <if test="address != null">
            address,
        </if>
        <if test="industry != null">
            industry,
        </if>
        <if test="function != null">
            function,
        </if>
        <if test="isRemote != null">
            is_remote,
        </if>
        <if test="description != null">
            description,
        </if>
        <if test="requirement != null">
            requirement,
        </if>
        <if test="salary != null">
            salary,
        </if>
        <if test="welfare != null">
            welfare,
        </if>
        <if test="dutyPerWeek != null">
            duty_per_week,
        </if>
        <if test="duration != null">
            duration,
        </if>
        <if test="userId != null">
            user_id,
        </if>
        <if test="receiveMethod != null">
            receive_method,
        </if>
        <if test="receiveEmail != null">
            receive_email,
        </if>
        <if test="degree != null">
            degree,
        </if>
        <if test="vertifyResult != null">
            vertify_result,
        </if>
        <if test="status != null">
            status,
        </if>
        <if test="isFullJob != null">
            is_full_job,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=INTEGER},
        </if>
        <if test="name != null">
            #{name,jdbcType=VARCHAR},
        </if>
        <if test="company != null">
            #{company,jdbcType=VARCHAR},
        </if>
        <if test="companyId != null">
            #{companyId,jdbcType=INTEGER},
        </if>
        <if test="department != null">
            #{department,jdbcType=VARCHAR},
        </if>
        <if test="type != null">
            #{type,jdbcType=TINYINT},
        </if>
        <if test="province != null">
            #{province,jdbcType=VARCHAR},
        </if>
        <if test="city != null">
            #{city,jdbcType=VARCHAR},
        </if>
        <if test="district != null">
            #{district,jdbcType=VARCHAR},
        </if>
        <if test="address != null">
            #{address,jdbcType=VARCHAR},
        </if>
        <if test="industry != null">
            #{industry,jdbcType=INTEGER},
        </if>
        <if test="function != null">
            #{function,jdbcType=INTEGER},
        </if>
        <if test="isRemote != null">
            #{isRemote,jdbcType=TINYINT},
        </if>
        <if test="description != null">
            #{description,jdbcType=VARCHAR},
        </if>
        <if test="requirement != null">
            #{requirement,jdbcType=VARCHAR},
        </if>
        <if test="salary != null">
            #{salary,jdbcType=VARCHAR},
        </if>
        <if test="welfare != null">
            #{welfare,jdbcType=VARCHAR},
        </if>
        <if test="dutyPerWeek != null">
            #{dutyPerWeek,jdbcType=SMALLINT},
        </if>
        <if test="duration != null">
            #{duration,jdbcType=INTEGER},
        </if>
        <if test="userId != null">
            #{userId,jdbcType=INTEGER},
        </if>
        <if test="receiveMethod != null">
            #{receiveMethod,jdbcType=SMALLINT},
        </if>
        <if test="receiveEmail != null">
            #{receiveEmail,jdbcType=VARCHAR},
        </if>
        <if test="degree != null">
            #{degree,jdbcType=TINYINT},
        </if>
        <if test="vertifyResult != null">
            #{vertifyResult,jdbcType=TINYINT},
        </if>
        <if test="status != null">
            #{status,jdbcType=TINYINT},
        </if>
        <if test="isFullJob != null">
            #{isFullJob,jdbcType=TINYINT},
        </if>
        <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null">
            #{updateTime,jdbcType=TIMESTAMP},
        </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cainiaoshixi.entity.Job">
    update cn_job
    <set>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="company != null">
            company = #{company,jdbcType=VARCHAR},
        </if>
        <if test="companyId != null">
            company_id = #{companyId,jdbcType=INTEGER},
        </if>
        <if test="department != null">
            department = #{department,jdbcType=VARCHAR},
        </if>
        <if test="type != null">
            type = #{type,jdbcType=TINYINT},
        </if>
        <if test="province != null">
            province = #{province,jdbcType=VARCHAR},
        </if>
        <if test="city != null">
            city = #{city,jdbcType=VARCHAR},
        </if>
        <if test="district != null">
            district = #{district,jdbcType=VARCHAR},
        </if>
        <if test="address != null">
            address = #{address,jdbcType=VARCHAR},
        </if>
        <if test="industry != null">
            industry = #{industry,jdbcType=INTEGER},
        </if>
        <if test="function != null">
            function = #{function,jdbcType=INTEGER},
        </if>
        <if test="isRemote != null">
            is_remote = #{isRemote,jdbcType=TINYINT},
        </if>
        <if test="description != null">
            description = #{description,jdbcType=VARCHAR},
        </if>
        <if test="requirement != null">
            requirement = #{requirement,jdbcType=VARCHAR},
        </if>
        <if test="salary != null">
            salary = #{salary,jdbcType=VARCHAR},
        </if>
        <if test="welfare != null">
            welfare = #{welfare,jdbcType=VARCHAR},
        </if>
        <if test="dutyPerWeek != null">
            duty_per_week = #{dutyPerWeek,jdbcType=SMALLINT},
        </if>
        <if test="duration != null">
            duration = #{duration,jdbcType=INTEGER},
        </if>
        <if test="userId != null">
            user_id = #{userId,jdbcType=INTEGER},
        </if>
        <if test="receiveMethod != null">
            receive_method = #{receiveMethod,jdbcType=SMALLINT},
        </if>
        <if test="receiveEmail != null">
            receive_email = #{receiveEmail,jdbcType=VARCHAR},
        </if>
        <if test="degree != null">
            degree = #{degree,jdbcType=TINYINT},
        </if>
        <if test="vertifyResult != null">
            vertify_result = #{vertifyResult,jdbcType=TINYINT},
        </if>
        <if test="status != null">
            status = #{status,jdbcType=TINYINT},
        </if>
        <if test="isFullJob != null">
            is_full_job = #{isFullJob,jdbcType=TINYINT},
        </if>
        <if test="readCount != null">
            read_count = #{readCount,jdbcType=INTEGER},
        </if>

        <if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime,jdbcType=TIMESTAMP},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="querySubmitByJobId"  resultType="com.cainiaoshixi.vo.ResumeBriefVo">
        SELECT submit.id as submit_id,submit.job_id, submit.user_id, user.name as user_name,resume.id as resumeId FROM cn_job_submit submit
        JOIN cn_job job ON (submit.job_id=job.id and job.user_id=#{userId})
        JOIN cn_user user ON submit.user_id=user.id
        JOIN cn_resume resume ON submit.user_id=resume.user_id
        where submit.job_id= #{jobId}
        <if test="hrStatus != null and hrStatus !='' or hrStatus != 0"> and submit.hr_status = #{hrStatus,jdbcType=INTEGER}</if>
        ORDER BY submit.update_time desc limit #{pageStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="querySubmitByResumeId"  resultType="com.cainiaoshixi.vo.ResumeDetailVo">
        SELECT resume.id as resumeId,submit.id as submitId,submit.job_id,resume.evaluation,submit.user_id as submit_user_id
        FROM cn_job_submit submit JOIN cn_job job ON job.user_id=#{userId} and submit.job_id=job.id and job.id=#{jobId}
        JOIN cn_resume resume ON (resume.id=#{resumeId} and submit.user_id=resume.user_id)
    </select>
    <update id="updateViewCount"  parameterType="java.lang.Integer">
        UPDATE cn_job_submit
        SET view_count=view_count+1
        WHERE id=#{submitId}
    </update>
    <update id="updateInterest"  parameterType="java.lang.Integer">
       UPDATE cn_job_submit submit
       JOIN cn_job job on (submit.job_id=job.id and job.user_id=#{userId})
       SET hr_status=1
       WHERE submit.job_id=#{jobId} and submit.id=#{submitId};
    </update>
    <update id="updateUnfit"  parameterType="java.lang.Integer">
       UPDATE cn_job_submit submit
       JOIN cn_job job on (submit.job_id=job.id and job.user_id=#{userId})
       SET hr_status=2
       WHERE submit.job_id=#{jobId} and submit.id=#{submitId};
    </update>
</mapper>