<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainiaoshixi.dao.JobMapper">
  <resultMap id="BaseResultMap" type="com.cainiaoshixi.entity.Job">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="companyid" jdbcType="BIGINT" property="companyid" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="total_time" jdbcType="INTEGER" property="totalTime" />
    <result column="day_in_week" jdbcType="VARCHAR" property="dayInWeek" />
    <result column="price_in_day" jdbcType="VARCHAR" property="priceInDay" />
    <result column="welfare" jdbcType="VARCHAR" property="welfare" />
    <result column="period_validation" jdbcType="INTEGER" property="periodValidation" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="published" jdbcType="TINYINT" property="published" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="checked" jdbcType="INTEGER" property="checked" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="company_logo" jdbcType="VARCHAR" property="companyLogo" />
    <result column="company_detail" jdbcType="VARCHAR" property="companyDetail" />
    <result column="is_full_job" jdbcType="VARCHAR" property="isFullJob" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cainiaoshixi.entity.JobWithBLOBs">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="requirement" jdbcType="LONGVARCHAR" property="requirement" />
    <result column="others" jdbcType="LONGVARCHAR" property="others" />
    <result column="attachment" jdbcType="LONGVARCHAR" property="attachment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, companyid, department, job,email, place, total_time, day_in_week, price_in_day, welfare,
    period_validation, source, published, type, checked, created_time, updated_time, 
    userId, category, company_logo, company_detail, is_full_job, degree, location, deadline,
    duration
  </sql>
  <sql id="Blob_Column_List">
    description, requirement, others, attachment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from job
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from job
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cainiaoshixi.entity.JobWithBLOBs">
    insert into job (id, companyid, department, 
      job, email,place, total_time,
      day_in_week, price_in_day, welfare, 
      period_validation, source, published, 
      type, checked, created_time, 
      updated_time, userId, category,
      company_logo, company_detail, is_full_job, 
      degree, location, deadline, 
      duration, description, requirement, 
      others, attachment)
    values (#{id,jdbcType=BIGINT}, #{companyid,jdbcType=BIGINT}, #{department,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},#{place,jdbcType=VARCHAR}, #{totalTime,jdbcType=INTEGER},
      #{dayInWeek,jdbcType=VARCHAR}, #{priceInDay,jdbcType=VARCHAR}, #{welfare,jdbcType=VARCHAR},
      #{periodValidation,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{published,jdbcType=TINYINT}, 
      #{type,jdbcType=VARCHAR}, #{checked,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{category,jdbcType=INTEGER},
      #{companyLogo,jdbcType=VARCHAR}, #{companyDetail,jdbcType=VARCHAR}, #{isFullJob,jdbcType=VARCHAR}, 
      #{degree,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{deadline,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, #{requirement,jdbcType=LONGVARCHAR}, 
      #{others,jdbcType=LONGVARCHAR}, #{attachment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id" parameterType="com.cainiaoshixi.entity.JobWithBLOBs">
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyid != null">
        companyid,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="totalTime != null">
        total_time,
      </if>
      <if test="dayInWeek != null">
        day_in_week,
      </if>
      <if test="priceInDay != null">
        price_in_day,
      </if>
      <if test="welfare != null">
        welfare,
      </if>
      <if test="periodValidation != null">
        period_validation,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="published != null">
        published,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="checked != null">
        checked,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="companyLogo != null">
        company_logo,
      </if>
      <if test="companyDetail != null">
        company_detail,
      </if>
      <if test="isFullJob != null">
        is_full_job,
      </if>
      <if test="degree != null">
        degree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="requirement != null">
        requirement,
      </if>
      <if test="others != null">
        others,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=BIGINT},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="dayInWeek != null">
        #{dayInWeek,jdbcType=VARCHAR},
      </if>
      <if test="priceInDay != null">
        #{priceInDay,jdbcType=VARCHAR},
      </if>
      <if test="welfare != null">
        #{welfare,jdbcType=VARCHAR},
      </if>
      <if test="periodValidation != null">
        #{periodValidation,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="published != null">
        #{published,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="companyLogo != null">
        #{companyLogo,jdbcType=VARCHAR},
      </if>
      <if test="companyDetail != null">
        #{companyDetail,jdbcType=VARCHAR},
      </if>
      <if test="isFullJob != null">
        #{isFullJob,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="requirement != null">
        #{requirement,jdbcType=LONGVARCHAR},
      </if>
      <if test="others != null">
        #{others,jdbcType=LONGVARCHAR},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cainiaoshixi.entity.JobWithBLOBs">
    update job
    <set>
      <if test="companyid != null">
        companyid = #{companyid,jdbcType=BIGINT},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        total_time = #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="dayInWeek != null">
        day_in_week = #{dayInWeek,jdbcType=VARCHAR},
      </if>
      <if test="priceInDay != null">
        price_in_day = #{priceInDay,jdbcType=VARCHAR},
      </if>
      <if test="welfare != null">
        welfare = #{welfare,jdbcType=VARCHAR},
      </if>
      <if test="periodValidation != null">
        period_validation = #{periodValidation,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="published != null">
        published = #{published,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="companyLogo != null">
        company_logo = #{companyLogo,jdbcType=VARCHAR},
      </if>
      <if test="companyDetail != null">
        company_detail = #{companyDetail,jdbcType=VARCHAR},
      </if>
      <if test="isFullJob != null">
        is_full_job = #{isFullJob,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="requirement != null">
        requirement = #{requirement,jdbcType=LONGVARCHAR},
      </if>
      <if test="others != null">
        others = #{others,jdbcType=LONGVARCHAR},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cainiaoshixi.entity.JobWithBLOBs">
    update job
    set companyid = #{companyid,jdbcType=BIGINT},
      department = #{department,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=INTEGER},
      day_in_week = #{dayInWeek,jdbcType=VARCHAR},
      price_in_day = #{priceInDay,jdbcType=VARCHAR},
      welfare = #{welfare,jdbcType=VARCHAR},
      period_validation = #{periodValidation,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      published = #{published,jdbcType=TINYINT},
      type = #{type,jdbcType=VARCHAR},
      checked = #{checked,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      userId = #{userId,jdbcType=BIGINT},
      category = #{category,jdbcType=INTEGER},
      company_logo = #{companyLogo,jdbcType=VARCHAR},
      company_detail = #{companyDetail,jdbcType=VARCHAR},
      is_full_job = #{isFullJob,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      requirement = #{requirement,jdbcType=LONGVARCHAR},
      others = #{others,jdbcType=LONGVARCHAR},
      attachment = #{attachment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cainiaoshixi.entity.Job">
    update job
    set companyid = #{companyid,jdbcType=BIGINT},
      department = #{department,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=INTEGER},
      day_in_week = #{dayInWeek,jdbcType=VARCHAR},
      price_in_day = #{priceInDay,jdbcType=VARCHAR},
      welfare = #{welfare,jdbcType=VARCHAR},
      period_validation = #{periodValidation,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      published = #{published,jdbcType=TINYINT},
      type = #{type,jdbcType=VARCHAR},
      checked = #{checked,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      userId = #{userId,jdbcType=BIGINT},
      category = #{category,jdbcType=INTEGER},
      company_logo = #{companyLogo,jdbcType=VARCHAR},
      company_detail = #{companyDetail,jdbcType=VARCHAR},
      is_full_job = #{isFullJob,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getJobListByVo" parameterType="com.cainiaoshixi.vo.JobQueryVo" resultType="com.cainiaoshixi.entity.JobWithBLOBs">
    select id, companyid, department, job,email, place, total_time, day_in_week, price_in_day, welfare,
    period_validation, source, published, type, checked, created_time, updated_time,
    userId, category, company_logo, company_detail, is_full_job, degree, location, deadline,
    duration, description, requirement, others, attachment
    from job
    <where>
      <if test="job!=null and job!=''">
        and job LIKE "%"#{job, jdbcType=VARCHAR}"%"
      </if>
      <if test="type!=null and type!='所有'">
        and type = #{type, jdbcType=VARCHAR}
      </if>
      <if test="published!=null">
        and published = #{published, jdbcType=TINYINT}
      </if>
      <if test="category!=null">
        and category=#{category, jdbcType=INTEGER}
      </if>
      <if test="searchValue!=null">
        and department like concat(concat("%",#{searchValue}),"%") or job like concat(concat("%",#{searchValue}),"%");
      </if>
      order by created_time desc
      limit #{iDisplayStart},#{iDisplayLength}
    </where>
  </select>
</mapper>