<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cainiaoshixi.dao.ResumeMapper">
  <select id="getEvaluationByUserId" resultType="Resume" parameterType="int">
    SELECT id,evaluation
    FROM cn_resume
    WHERE user_id = #{userId}
  </select>

  <insert id="addEvaluation" useGeneratedKeys="true" keyProperty="id" parameterType="Resume">
    insert  into cn_resume (evaluation, user_id, create_time, update_time)
    values (#{evaluation}, #{userId}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateEvaluation" parameterType="Resume">
    update cn_resume set
    <if test="evaluation != null">evaluation = #{evaluation},</if>
    <if test="updateTime != null">update_time = #{updateTime}</if>
    where user_id = #{userId}
  </update>

  <select id="isExistEvaluation" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT count(*) from cn_resume where user_id = #{userId}
  </select>

  <insert id="submitJob" useGeneratedKeys="true" keyProperty="id" parameterType="JobSubmit">
    INSERT INTO cn_job_submit(job_id, status,hr_status,view_count,user_id, create_time, update_time)
    VALUES (#{jobId}, #{status}, #{hrStatus},#{viewCount},#{userId},  #{createTime}, #{updateTime})
  </insert>

  <select id="querySubmitByUserId"  resultType="com.cainiaoshixi.vo.JobBriefVo">
    SELECT submit.id as submit_id,submit.job_id,submit.user_id,job.name as job_name,job.company,job.company_id,company.logo,submit.status,submit.hr_status,submit.view_count
    FROM cn_job_submit submit JOIN cn_job job ON submit.job_id=job.id JOIN cn_company company on job.company_id=company.id
    WHERE submit.user_id= #{jobBriefVo.userId}
    <if test="jobBriefVo.status != null and jobBriefVo.status !='' or jobBriefVo.status !=0"> and submit.status = #{jobBriefVo.status,jdbcType=INTEGER}</if>
    <if test="jobBriefVo.viewCount != null and jobBriefVo.viewCount !='' or jobBriefVo.viewCount > 0"> and submit.view_count>0 </if>
    <if test="jobBriefVo.hrStatus != null and jobBriefVo.hrStatus !='' or jobBriefVo.hrStatus != 0"> and submit.hr_status = #{jobBriefVo.hrStatus,jdbcType=INTEGER}</if>
    ORDER BY submit.update_time desc limit #{pageStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="queryCount" parameterType="com.cainiaoshixi.vo.JobBriefVo" resultType="int">
    <!-- 查询总记录数-->
    select count(1)
    FROM cn_job_submit submit JOIN cn_job job ON submit.job_id=job.id JOIN cn_company company on job.company_id=company.id
    WHERE submit.user_id= #{userId}
    <if test="status != null and status !='' or status !=0"> and submit.status = #{status,jdbcType=INTEGER}</if>
    <if test="viewCount != null and viewCount !='' or viewCount > 0"> and submit.view_count>0 </if>
    <if test="hrStatus != null and hrStatus !='' or hrStatus != 0"> and submit.hr_status = #{hrStatus,jdbcType=INTEGER}</if>
  </select>

    <select id="isJobSubmitted" resultType="com.cainiaoshixi.entity.JobSubmit">
      SELECT id
      FROM cn_job_submit
      where user_id=#{userId} and job_id=#{jobId} limit 1;
    </select>

  <select id="isResumeUploaded" resultType="com.cainiaoshixi.entity.File">
    SELECT id
    FROM cn_file
    WHERE uploader_id=#{userId} and type=1 limit 1;
  </select>
</mapper>