<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cainiaoshixi.dao.ResumeMapper">
  <select id="getEvaluationByUserId" resultType="Resume" parameterType="int">
    SELECT id,evaluation
    FROM cn_resume
    WHERE user_id = #{userId}
  </select>

  <insert id="addEvaluation" useGeneratedKeys="true" keyProperty="id" parameterType="Resume">
    insert  into cn_resume (evaluation, user_id, create_time, update_time)
    values (#{evaluation}, #{userId}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateEvaluation" parameterType="Resume">
    update cn_resume set
    <if test="evaluation != null">evaluation = #{evaluation},</if>
    <if test="updateTime != null">update_time = #{updateTime}</if>
    where user_id = #{userId}
  </update>

  <select id="isExistEvaluation" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT count(*) from cn_resume where user_id = #{userId}
  </select>

  <insert id="submitJob" useGeneratedKeys="true" keyProperty="id" parameterType="JobSubmit">
    INSERT INTO cn_job_submit(job_id, status, user_id, create_time, update_time)
    VALUES (#{jobId}, #{status}, #{userId},  #{createTime}, #{updateTime})
  </insert>

    <select id="querySubmitByUserId" parameterType="java.lang.Integer" resultType="com.cainiaoshixi.vo.JobBriefVo">
      SELECT submit.id as submit_id,submit.job_id,submit.user_id,job.name as job_name,job.company,job.company_id,company.logo,submit.status
      FROM cn_job_submit submit JOIN cn_job job ON submit.job_id=job.id JOIN cn_company company on job.company_id=company.id
      WHERE submit.user_id= #{userId};
    </select>
</mapper>